/*your CSS goes here*/
form {
	padding: 10px;
	background-color: #FFD700;
	border-radius: 10px;
}

.btn-default {
	background-color: #ffff7f;
}

#lastnametext {
	font-weight: bold;
}

.border {
	border:2px solid #CCCCCC;
}

h1 {
	color: #008080;
	text-align: center; 
}

p {
	text-align: center;
}

#messageapproval {
	background-color: #eaeaea;
	min-height: 60px; 
	padding-top: 10px;
	border-radius: 5px; 
}