<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Magial Unicorn Submission</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Magical Unicorn Inc.</a>
		    </div> <!-- End of header -->
		  </div><!-- /.container-fluid -->
		</nav>
		<!-- BODY -->
		<div class="container">
			<h1> Application Submission </h1>
			<p> Your application has been processed. </p>
			<br>
			<div class="row">
			  <div class="col-md-6 col-md-offset-3" id="messageapproval"><p> Thank you, {{ namefirst }} {{ namelast}}, for applying to be a {{ position }}. Your minimum salary requirment is {{ salary }} dollars. </p></div>
			</div>
			
		</div> <!-- End of body container -->
    </body>
</html>

